/*base*/
:root {
    --blanc: #fefae0;
    --noir: #131411;
    --vert-clair: #606c38;
    --vert-fonce: #273518;
    --orange-clair: #dda15e;
    --orange-fonce: #bc6c25;
    --rouge-clair: #c74b29;
    --rouge-fonce: #792d18;
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* boutons */
.button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

/*titres*/

.titre-section {
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
}

.titre-card {
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
}

.titre-page {
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
}

/* colorway presets */

.primary {
    background-color: var(--vert-clair);
    color: var(--blanc);
}

.primary:hover {
    background-color: var(--vert-fonce);
}

.secondary {
    background-color: var(--orange-clair);
    color: var(--blanc);
}

.secondary:hover {
    background-color: var(--orange-fonce);
}

.danger {
    background-color: var(--rouge-clair);
    color: var(--blanc);
}

.danger:hover {
    background-color: var(--rouge-fonce);
}